.container {
    padding: 30px;
}


.container h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #f9fafb;
    border-left: 4px solid #6366f1;
    padding-left: 10px;
}


.container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    list-style: none;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}